body {background-color: crimson;}
.Name{
    text-align: center;
    color: darkred;
}
.Title{
    text-align: center;
    text-decoration: underline;
}
.initialstatement{
    text-align:center;
    font-family:fantasy;
    font-size: larger;
}
.personalimage{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:10%;
    border-style: solid;
    border-radius: 45em;
    border-width: 5px;
    border-color: black;
}
