body {background-color: crimson;}
.Name{
    text-align: center;
    color: darkred;
}
.Title{
    text-align: center;
    text-decoration: underline;
}
.initialstatement{
    text-align:center;
    font-family:fantasy;
    font-size: larger;
}
